.admin__header{
    width: 100%;
    padding: 20px 0;
    background-color: var(--primary-color);
}

.admin__nav-top{
    width: 100%;
}

.admin__nav-wrapper-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
}

.admin__nav-top-right img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
}


.admin__nav-top-right{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.admin__nav-wrapper-top .search__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.admin__nav-top-right span i {
    color: whitesmoke;
    cursor: pointer;
}

.admin__nav-wrapper-top .logo h2{
    font-size: 1.2rem;
    color: whitesmoke;
}


.admin__nav-wrapper-top{
    position: relative;;
}
.admin__nav-wrapper-top .mobile__menu{
    display: none;
    color: #fff;
}


.admin__menu{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: var(--card-bg-02);
}

.admin__navigation{
    text-align: center;
}

.admin__menu-list{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    justify-content: center;
}

.admin__menu-list .admin__menu-item a{
    color: var(--primary-color);
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
}


.mobile__nav .cross__btn{
    color: rgba(233, 42, 42, 0.87) !important;
    border: 1px solid red !important;
}

 .mobile__nav{
    /* display: none !important; */
    position: absolute;
    top: -18px;
    right: -12px;
    z-index: 999999;
    background: var(--card-bg-02);
    font-weight: 500;
    padding: 30px 45px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

}

.admin__mobile__menu-item {
    list-style: none;
    margin: 20px 0;
    z-index: 99999999;
}

.active__admin-menu {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    
}

@media screen and (max-width:576px) {

    .admin__menu{
        display: none;
    }
    .admin__nav-wrapper-top .search__box{
        display: none;
    }
    .admin__nav-top-right{
        display: none;
    }

    .admin__nav-wrapper-top .mobile__menu{
        display: block;
    }
    .admin__nav-wrapper-top .mobile__nav{
        /* display: block; */
    }
    
}