
.footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: var(--primary-color);
}

.footer__text{
    line-height: 30px;
    color: #ffffffbd ;
}

.footer__quick-links ul li{
    background-color: transparent;
}

.footer__quick-links ul li a{
    color: #ffffffbd ;
}

.quick__links-title{
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.1rem;
}

.footer__contact li span, .footer__contact li p{
    color: #ffffffbd;
}
 
.footer__contact li span{
    font-size: 1.2rem;
}

.footer__contact li p{
    font-size: .9rem;
}

.footer__copyright{
    color: #ffffffbd;
    font-size: .9rem;
    margin-top: 50px;
    text-align: center;
}
.name{
    font-weight: 700;
}